:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.background {
  background: var(--background) !important;
  background-size: 100% !important;
  padding-top: 6rem;
  height: 100%;
}

.randomize-icon {
  text-align: center;
}

.randomize-icon img {
  width: 90px;
}

.randomize-tittle h1 {
  color: var(--title);
}

.randomize-button button {
  background-image: url(/assets/favico/favicon-32x32.png);
  background-repeat: no-repeat;
  background-position: 6%;
  background-color: var(--bg-button);
  padding: 11px 17px 11px 72px;
  border: none;
  border-radius: 4px;
}

.randomize-description {
  color: var(--subtitle);
}

.randomize-content {
  display: flex;
  justify-content: center;
}

.movie-div {
  width: 16%;
  height: 233px;
}

.movie-image {
  width: 200px;
  height: 233px;
}

.movie-tittle-div {
  width: 38%;
  padding-left: 28px;
  text-align: initial;
  max-height: 426px;
}

.movie-tittle-div h1,
p {
  color: var(--title);
}

.movie-tittle-div p {
  font-size: 15px;
}
